#container4{
    background-image:url("../images/salaryback.png");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
#form-color4{
    background-color:darkgrey;
    
 }
#header2{
    background-color:crimson;
}